}{% extends 'plantillas_base/base_usuario_sinlog.html' %}

{% block content %}
  {% if validlink %}
    <h3>Cambiar la contrase&ntilde;a</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="button btn-primary" style="font-size: 20px" type="submit">Cambiar</button>
    </form>
  {% else %}
    <p>
      El enlace que ha utilizado no es v&aacute;lido. Si quiere cambiar su contrase&ntilde;a
      puede solicitar nuevamente un <a href="{% url 'password_reset' %}">cambio de contrase&ntilde;</a>.
.
    </p>
  {% endif %}
{% endblock %}