{% autoescape off %}
    <p>Para iniciar el proceso de restauraci&oacute;n de su cuenta haga click en el siguiente enlace:</p>

<p> {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
</p>
<p>
Si no puede clickear en el enlace, por favor c&oacute;pielo en la barra de direcciones de su navegador.
</p>
<p>
En caso de haber olvidado su nombre de usuario, es: {{ user.get_username }}
</p>
<br><br><br><br>
Centro de Ense&ntilde;anza en Computaci&oacute;n - CENCO
{% endautoescape %}