{% extends 'plantillas_base/base_asistente.html' %}
{% load staticfiles %}

{% block titulo %} Grupo {{ grupo.horario }}  {{ grupo.codigo }} {% endblock %}

{% block head_content %}
    <script>
        function desbloqueoProfesores(){
            document.getElementById('cbxProfesores').disabled = false;
        }
        function desbloqueoGrupos() {
            document.getElementById('cbxGrupos').disabled = false;
        }
        function marcarCheckBox(){
            document.getElementById('cambioGrupo').checked = true;
        }
    </script>
    <link href=" {% static 'css/formato_consultar_grupos.css' %} " rel="stylesheet">
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'asist_detalle_grupo' grupo.codigo %}">
    {% csrf_token %}
    <table width="100%">
        <tr>
            <td width='20%' style="padding-top: 5%" rowspan="{{ alumnos|length|add:"3" }}" valign="top">
                <h4>Métricas</h4>
                &nbsp;&nbsp;&nbsp;
                <div class='divNotifGrupo'>
                    <h5>Nota mayor:</h5>
                    <p align="right"><b>Pendiente</b></p>
                    <h5>Nota menor:</h5>
                    <p align="right"><b>Pendiente</b></p>
                    <h5>Promedio:</h5>
                    <p align="right"><b>Pendiente</b></p>
                </div>
            </td>
            <td height="100px" width="80%" align="left" style="padding-left: 7%" valign="top">
                <p></p>
                <h4>Grupo {{ grupo.codigo }}, {{ grupo.horario }}</h4>
            </td>
        </tr>
        <tr>
            <td align="left" style="padding-left: 12%" valign="top">
                <table width="100%">
                    <tr>
                        <td width="10%%">
                            Profesor:
                        </td>
                        <td width="30%">
                        {{ grupo.profesor }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            {% if alumnos|length > 0 %}
            <td style="padding-left: 7%; padding-top: 3%" valign="top">
                <table class="table table-hover">
                    <tr>
                        <th>Codigo</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th>Marcar</th>
                    </tr>
                    {% for alumno in alumnos %}
                        <tr class=>
                        <th scope="row">{{ alumno.codigo }}</th>
                            <td>{{ alumno.nombre }}</td>
                            <td>{{ alumno.apellido }}</td>
                            <td>
                                {% for telefono in telefonos  %}
                                    {% if telefono.alumno == alumno %}
                                        {{ telefono.numero }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ alumno.correo|default_if_none:"" }}</td>
                            <td><input type="checkbox" onclick="marcarCheckBox()" name="{{ alumno.codigo }}"></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td><td></td><td></td><td></td>
                        <td>
                            <select class="custom-select" id="cbxGrupos" name="cbxGrupos" disabled="disabled">
                                <option value="{{ grupo.codigo }}">Grupo {{ grupo.codigo }}, {{ grupo.horario }}</option>
                                {% for iteracion_grupo in grupos %}
                                    <option value="{{ iteracion_grupo.codigo }}">Grupo {{ iteracion_grupo.codigo }}, {{ iteracion_grupo.horario }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <a href="#" onclick="desbloqueoGrupos()" class="text-info" >Mover Alumnos</a>
                        </td>
                    </tr>
                </table>
            </td>
                {% else %}
                <td style="padding-left: 7%;" valign="top">
                    <h6>No hay Alumnos en este grupo.</h6>
                </td>
                {% endif %}
        </tr>
    </table>
    <div style="padding-top: 3%; padding-left: 32%">
        <table width="25%">
            <td width="10%">
                <input type="submit" value="Guardar" class="btn btn-primary">
            </td>

        </table>

        <input type="checkbox" name="cambioGrupo" id="cambioGrupo" style="visibility: hidden;">
    </div>
    </form>

{% endblock %}