{%  extends 'plantillas_base/base_director.html' %}
{% load staticfiles %}

{% block titulo %}Consultar Grupos{% endblock %}

{% block head_content %}
    <link href=" {% static 'css/formato_consultar_grupos.css' %} " rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/consultar_grupos.js' %}"></script>
    <link href=" {% static 'css/alerts_notificaciones.css' %} " rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<script src="{% static 'js/jquery-ui.js' %}"></script>


   	<script>
	$( function() {
		$( "#id_fechaInicio" ).datepicker();
	} );
	</script>

{% endblock %}

{% block content %}

        <!-- ALERTAS -->
        <div class="divEscondido" id="mensajeEmergente">
        <span class="btnCerrar">&times;</span>
            <strong></strong>
        </div>

    <table width='100%'>
    <tr>
        <td width='20%' rowspan="2" valign="top"  style="min-width: 300px">
            <p></p>
            <h4>&Aacute;rea de Notificaciones:</h4>
            <div class='divNotifGrupo'>
                <h4>Horarios con m&aacute;s de {{ lim_horario }} estudiantes</h4>
                {% if horarios_exceso|length > 0 %}
                {% for horario in horarios_exceso %}
                <p><b>Horario:</b> {{ horario }}</p>
                {% endfor %}
                {% else %}
                <p>Ning&uacute;n horario excede el l&iacute;mite en este momento.</p>
                {% endif %}
                <p></p>
                <h4>Grupos con menos de {{ min_alumnos }} estudiantes</h4>
                {% if grupos_cant_baja|length > 0 %}
                {% for grupo in grupos_cant_baja %}
                <p><b>Grupo {{ grupo.codigo }}:</b> {{ grupo.horario }}</p>
                {% endfor %}
                {% else %}
                <p>Ning&uacute;n grupo se encuentra actualmente por debajo del m&iacute;nimo.</p>
                {% endif %}
            </div>
        </td>
        <td width='20%' height='100px'>
                <!-- Button trigger modal -->
            <button style="align: center" type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarGrupoModal">Agregar Nuevo Grupo</button>
        </td>
        <td width='80%' align="right">
            Filtrar Grupos:
            <select onchange="filterSelection(this.value)">
                <option value="all" selected>Todos los Horarios</option>
                {% for valor in tipos %}
                    <option value="{{ valor.dias_asignados }}">{{ valor.dias_asignados }}</option>
                {% endfor %}
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
    </tr>
    <tr>
        <td colspan="2" id="dinamicos" valign="top"  style="min-width: 900px">
            {% for grupo in grupos %}
            <a href="{% url 'detalle_grupo' id_grupo=grupo.codigo %}">
            <div class='divGrupo {{ grupo.horario.dias_asignados }} all'>
                <img class= 'imgGrupo' src="{% static 'img/Grupo.png' %}">
                <h3>Grupo {{ grupo.codigo }}</h3>
                <p><b>Horario:</b> {{ grupo.horario }}</p>
                <p><b>Profesor:</b> {{ grupo.profesor }}</p>
                <p><b>Alumnos:</b> {{ grupo.alumnosInscritos }}</p>
            </div></a>
            {% endfor %}
        </td>
    </tr>
    </table>

<!-- Modal -->
<div class="modal fade" id="agregarGrupoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nuevo Grupo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="nuevoGrupoForm" action="" method="post">
            {% csrf_token %}
            {{ form }}
            <p></p>
            <button type="button submit" class="btn btn-primary" >Guardar Grupo</button>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
        </div>
    </div>
</div>
    <script src="{% static 'js/cerrar_alertas.js' %}"></script>
{% endblock %}

