{% extends 'plantillas_base/base_director.html' %}
{% load staticfiles %}

{% block titulo %} Estados {% endblock %}

{% block head_content %}
    <script src="{% static 'js/chartJS/Chart.bundle.js' %}"></script>
    <script src="{% static 'js/chartJS/utils.js' %}"></script>
    <link href=" {% static 'css/alerts_notificaciones.css' %} " rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
	<script src="{% static 'js/jquery-ui.js' %}"></script>

    	<style>
	canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>

{% endblock %}

{% block content %}

    <!-- ALERTAS -->
    <div class="divEscondido" id="mensajeEmergente">
    <span class="btnCerrar">×</span>
        <strong></strong>
    </div>
    <br>
    <h3>Reporte de Estados</h3>
<div style="min-width: 1200px">
    <div style="display: inline-block; border: 2px solid black; float:left; margin-right: 25px; margin-top: 5%; box-shadow: 5px 5px 2px #888888; width: 140px; height: 200px">
        <table class="table-sm table-hover">
            <thead>
                <th>Otros reportes:</th>
            </thead>
            <tbody>
            <tr><td><a href="{% url 'director_ver_estados' %}" style="color: #3836cd">Reporte de Estados
                <img src="{% static 'img/link.png' %}" width="18px" height="18px"/> </a></td></tr>
            <tr><td>Reporte DOS</td></tr>
            <tr><td>Reporte TRES</td></tr>
            <tr><td>Reporte CUATRO</td></tr>
            </tbody>
        </table>

    </div>
<div style="display: inline-block; width: 85%; vert-align: top;" >
    <div>
    <br>
    <table align="center" width="60%">
        <th>
            <span>Tipo de Gr&aacute;fico:</span>
        </th>
        <th>
            <span>Intervalo de Tiempo:</span>
        </th>
        <th>
            <span>Estado de Estudiantes:</span>
        </th>
        <tr>
            <td>
                <select onchange="changePlot(this.value)">
                    <option value="barras" selected>Gr&aacute;fico de Barras</option>
                    <option value="lineas">Gr&aacute;fico de L&iacute;neas</option>
                </select>
            </td>
            <td>
                <select onchange="changeInterval(this.value)" id="id_periodo">
                    <option value="semanal" selected>&uacute;ltima Semana</option>
                    <option value="mensual">&uacute;ltimo Mes</option>
                    <option value="semestral">&uacute;ltimos Seis Meses</option>
                    <option value="anual">&uacute;ltimo A&ntilde;o</option>
                    <option value="personalizado">Personalizado</option>
                </select>
            </td>
            <td>
                <select onchange="changeType(this.value)" id="id_tipo">
                    <option value="activos" selected>Activos</option>
                    <option value="inscritos">Inscritos</option>
                    <option value="retirados">Inactivos</option>
                    <option value="graduados">Graduados</option>
                </select>
            </td>
            <td>
                <div style="display: none" id="espereG">
                    <img src="{% static 'img/ajax-loader.gif' %}">
                    Procesando. Por Favor Espere.
                </div>
            </td>
        </tr>
    </table>
        <br>
        <div id="fechas_filtro" style="display: none; text-align: center; width: 90%"  >
        <form id="enviarFechasForm" action="" method="POST" autocomplete="off">
        {{ form }}
            {% csrf_token %}
            <input type="submit" value="Consultar" id="btnConsultar">
        </form>
        </div>


    </div>
    <div style="width: 100%" id="id_grafico">
		<canvas id="canvas"></canvas>
	</div>
</div>
</div>
    <script>
        $( function() {
            $( "#id_fechaInicial" ).datepicker({
                dateFormat: "dd/mm/yy",
                altFormat: "yy-mm-dd",
                minDate: "-90Y",
                yearRange: "-90:+1",
                monthNames: [ "Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"],
                monthNamesShort: [ "Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"],
                dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa" ],
                changeMonth: true,
                changeYear: true,
            }); } );

        $( function() {
            $( "#id_fechaFinal" ).datepicker({
                dateFormat: "dd/mm/yy",     //display de la fecha
                altFormat: "yy-mm-dd",      //manejo para backend (NO FUNCIONA), se manda como dateFormat
                minDate: "-90Y",
                yearRange: "-90:+1",
                monthNames: [ "Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"],
                monthNamesShort: [ "Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"],
                dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa" ],
                changeMonth: true,
                changeYear: true,
            }); } );

    $(document).on('submit', '#enviarFechasForm', function (a) {
        a.preventDefault();
        $('#btnConsultar').attr('disabled', true);
        $('#espereG').css('display', 'inline');
            $.ajax({
                type: 'POST',
                url: '/asistencia/filtrar_estados/',
                data: {
                    opcion: 'personalizado',
                    tipo: opt_tipo,
                    fechaInicial: $('#id_fechaInicial').val(),
                    fechaFinal: $('#id_fechaFinal').val(),
                    csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                },
                success: function (response) {
                  $('#btnConsultar').attr('disabled', false);
                  $('#espereG').css('display', 'none');
                  bar_plot_config.data = response.datos_filtro;
                  line_plot_config.data = response.datos_filtro;
                  chartData.labels = response.fechas_filtro;
                  maximo = response.maximo;
                  tipo = $('#id_tipo').val();
                  bar_plot_config.label = 'Estudiantes ' + tipo;
                  line_plot_config.label = 'Estudiantes ' + tipo;
                  borrarGrafico();
                  cargarGrafico();
                  var m = $('#mensajeEmergente');
                  m.css('display', 'none');
                },
                error: function (response) {
                  $('#btnConsultar').attr('disabled', false);
                  $('#espereG').css('display', 'none');
                  var m = $('#mensajeEmergente');
                  m.children('strong').html(response.responseText);
                  m.css('display','block');
                  m.css('opacity',1);
                  m.removeClass();
                  m.addClass('alerta cuidado');
                  $("html, body").animate({ scrollTop: 0 }, "slow");
                }
            }) });

    function borrarGrafico(){
        $('#canvas').remove();
        $('#id_grafico').append('<canvas id="canvas"></canvas>')
    }

    var maximo = {{ maximo }};
    var opt_tipo = 'activos';
    function changeInterval(valor){
        if (valor !== "personalizado"){
            AJAXcall_simple(valor);
            ocultarFecha();
        }
        else{
            mostrarFecha();
        } }

    function changeType(valor){
        opt_tipo = valor;
        if(valor === 'activos'){
            line_plot_config.borderColor = '#008000';
            bar_plot_config.backgroundColor = '#008000';
        } else if(valor ==='inscritos'){
            line_plot_config.borderColor = '#0000FF';
            bar_plot_config.backgroundColor = '#0000FF';
        }else if(valor === 'retirados'){
            line_plot_config.borderColor = '#FF0000';
            bar_plot_config.backgroundColor = '#FF0000';
        }
        else if (valor === 'graduados'){
            line_plot_config.borderColor = '#808080';
            bar_plot_config.backgroundColor = '#808080';
        }
        var periodo = $('#id_periodo').val();
        if(periodo !== 'personalizado'){
            AJAXcall_simple(periodo);
        } }

    function AJAXcall_simple(option){
        $('#espereG').css('display', 'inline');
        $.ajax({
                type: 'POST',
                url: '/asistencia/filtrar_estados/',
                data: {
                    opcion: option,
                    tipo: opt_tipo,
                    csrfmiddlewaretoken:'{{ csrf_token }}',
                },
                success: function (response) {
                  $('#espereG').css('display', 'none');
                  bar_plot_config.data = response.datos_filtro;
                  line_plot_config.data = response.datos_filtro;
                  chartData.labels = response.fechas_filtro;
                  maximo = response.maximo;
                  tipo = $('#id_tipo').val();
                  bar_plot_config.label = 'Estudiantes ' + tipo;
                  line_plot_config.label = 'Estudiantes ' + tipo;
                  borrarGrafico();
                  cargarGrafico();
                  var m = $('#mensajeEmergente');
                  m.css('display', 'none');
                },
                error: function (response) {
                    $('#espereG').css('display', 'none');
                }
            }) }

    function mostrarFecha(){
        $('#fechas_filtro').removeClass();
        $('#fechas_filtro').css('display', 'block');
    }

    function ocultarFecha(){
        $('#fechas_filtro').removeClass();
        $('#fechas_filtro').css('display', 'none');
    }

    function changePlot(selected){
        if (selected === "lineas"){
            chartData.datasets = [ line_plot_config ];
        }
        if (selected === "barras"){
            chartData.datasets = [ bar_plot_config ];
        }
        cargarGrafico();
    }

    var plot_data = [{% for detalle in detalle_semanal %}{{ detalle.count }}, {% endfor %} ];

    var line_plot_config = {
				type: 'line',
				label: 'Estudiantes activos',
				borderColor: '#008000',
				borderWidth: 2,
				fill: false,
				data: plot_data,};

    var bar_plot_config = {
				type: 'bar',
				label: 'Estudiantes activos',
				backgroundColor: '#008000',
				data: plot_data,
				borderColor: 'white',
				borderWidth: 2};

    var chartData = {
			labels: [{% for detalle in detalle_semanal %}'{{ detalle.fecha_detalle_e | date:"d M"}}',{% endfor %}],
			datasets: [ bar_plot_config ]};

    function cargarGrafico(){
        var ctx = document.getElementById('canvas').getContext('2d');
			window.myMixedChart = new Chart(ctx, {
				type: 'bar',
				data: chartData,
				options: {
					responsive: true,
					title: {
						display: true,
						text: 'Reporte de Estados'
					},
					tooltips: {
						mode: 'index',
						intersect: true
					},
					scales: {
					    yAxes: [{
					        scaleLabel: {
					          display: true,
                              labelString: 'Cantidad de Estudiantes',
                            },
					        ticks: {
					            beginAtZero: true,
                                callback: function(value) {if (value % 1 === 0) {return value;}},
                                max: maximo,

					        }
					    }],
                        xAxes: [{
                            scaleLabel: {
					          display: true,
                              labelString: 'Fecha de actividad',
                            },
                        }]
					}
				}
			});
    }

		window.onload = function() {
            var fecha1 = document.getElementById('id_fechaInicial');
            fecha1.onkeydown = function (e) { e.preventDefault(); };
            var fecha2 = document.getElementById('id_fechaFinal');
            fecha2.onkeydown = function (e) { e.preventDefault(); };
            cargarGrafico();
		};
	</script>

    <script src="{% static 'js/cerrar_alertas.js' %}"></script>
{% endblock %}