{% extends 'plantillas_base/base_director.html' %}
{% load staticfiles %}

{% block titulo %} Estados {% endblock %}

{% block head_content %}
    <script src="http://www.chartjs.org/dist/2.7.2/Chart.bundle.js"></script>
    <script src="http://www.chartjs.org/samples/latest/utils.js"></script>

    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
	<script src="{% static 'js/jquery-ui.js' %}"></script>

    	<style>
	canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>

{% endblock %}

{% block content %}
    <div>
        <select onchange="changePlot(this.value)">
            <option value="barras" selected>Gr&aacute;fico de Barras</option>
            <option value="lineas">Gr&aacute;fico de L&iacute;neas</option>
        </select>

        <select onchange="changeInterval(this.value)">
            <option value="semanal" selected>&uacute;ltima Semana</option>
            <option value="mensual">&uacute;ltimo Mes</option>
            <option value="semestral">&uacute;ltimos Seis Meses</option>
            <option value="anual">&uacute;ltimo A&ntilde;o</option>
            <option value="personalizado">Personalizado</option>
        </select>
        <br>
        <br>
        <div id="fechas_filtro" style="display: none;">
        <form id="enviarFechasForm" action="" method="POST">
        {{ form }}
            {% csrf_token %}
            <input type="submit" value="Enviar">
        </form>
        </div>

    </div>
    <div style="width: 75%" id="id_grafico">
		<canvas id="canvas"></canvas>
	</div>
    <script>
        $( function() {
            $( "#id_fechaInicial" ).datepicker({
                dateFormat: "dd/mm/yy",     //display de la fecha
                altFormat: "yy-mm-dd",      //manejo para backend (NO FUNCIONA), se manda como dateFormat
                minDate: "-90Y",
                yearRange: "-90:+1",
                monthNames: [ "Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"],
                monthNamesShort: [ "Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"],
                dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa" ],
                changeMonth: true,
                changeYear: true,
            });
        } );

        $( function() {
            $( "#id_fechaFinal" ).datepicker({
                dateFormat: "dd/mm/yy",     //display de la fecha
                altFormat: "yy-mm-dd",      //manejo para backend (NO FUNCIONA), se manda como dateFormat
                minDate: "-90Y",
                yearRange: "-90:+1",
                monthNames: [ "Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"],
                monthNamesShort: [ "Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"],
                dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa" ],
                changeMonth: true,
                changeYear: true,
            });
        } );

    $(document).on('submit', '#enviarFechasForm', function (a) {
        a.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/asistencia/filtrar_estados/',
                data: {
                    opcion: 'personalizado',
                    fechaInicial: $('#id_fechaInicial').val(),
                    fechaFinal: $('#id_fechaFinal').val(),
                    csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                },
                success: function (response) {
                  bar_plot_config.data = response.datos_filtro;
                  line_plot_config.data = response.datos_filtro;
                  chartData.labels = response.fechas_filtro;
                  maximo = response.maximo;
                  borrarGrafico();
                  cargarGrafico();
                },
                error: function (response) {

                }
            })
        });

    function borrarGrafico(){
        $('#canvas').remove();
        $('#id_grafico').append('<canvas id="canvas"></canvas>')
    }

    var maximo = {{ maximo }};
    function changeInterval(valor){
        if (valor !== "personalizado"){
            AJAXcall_simple(valor);
            ocultarFecha();
        }
        else{
            mostrarFecha();
        }
    }

    function AJAXcall_simple(option){
        $.ajax({
                type: 'POST',
                url: '/asistencia/filtrar_estados/',
                data: {
                    opcion: option,
                    csrfmiddlewaretoken:'{{ csrf_token }}',
                },
                success: function (response) {
                  bar_plot_config.data = response.datos_filtro;
                  line_plot_config.data = response.datos_filtro;
                  chartData.labels = response.fechas_filtro;
                  maximo = response.maximo;
                  borrarGrafico();
                  cargarGrafico();

                },
                error: function (response) {

                }
            })

    }

    function mostrarFecha(){
        $('#fechas_filtro').removeClass();
        $('#fechas_filtro').css('display', 'block');
    }

    function ocultarFecha(){
        $('#fechas_filtro').removeClass();
        $('#fechas_filtro').css('display', 'none');
    }


    function changePlot(selected){
        if (selected === "lineas"){
            chartData.datasets = [ line_plot_config ];
        }
        if (selected === "barras"){
            chartData.datasets = [ bar_plot_config ];
        }
        cargarGrafico();
    }

    var plot_data = [{% for detalle in detalle_semanal %}{{ detalle.count }}, {% endfor %} ];

    var line_plot_config = {
				type: 'line',
				label: 'Estudiantes activos',
				borderColor: window.chartColors.blue,
				borderWidth: 2,
				fill: false,
				data: plot_data,};

    var bar_plot_config = {
				type: 'bar',
				label: 'Estudiantes activos',
				backgroundColor: window.chartColors.orange,
				data: plot_data,
				borderColor: 'white',
				borderWidth: 2};

    var chartData = {
			labels: [{% for detalle in detalle_semanal %}'{{ detalle.fecha_detalle_e | date:"d M"}}',{% endfor %}],
			datasets: [ bar_plot_config ]};

    function cargarGrafico(){
        var ctx = document.getElementById('canvas').getContext('2d');
			window.myMixedChart = new Chart(ctx, {
				type: 'bar',
				data: chartData,
				options: {
					responsive: true,
					title: {
						display: true,
						text: 'Reporte de Estados'
					},
					tooltips: {
						mode: 'index',
						intersect: true
					},
					scales: {
					    yAxes: [{
					        ticks: {
					            beginAtZero: true,
                                callback: function(value) {if (value % 1 === 0) {return value;}},
                                max: maximo,

					        }
					    }]
					}
				}
			});
    }

		window.onload = function() {
            var fecha1 = document.getElementById('id_fechaInicial');
            fecha1.onkeydown = function (e) { e.preventDefault(); };
            var fecha2 = document.getElementById('id_fechaFinal');
            fecha2.onkeydown = function (e) { e.preventDefault(); };
            cargarGrafico();
		};
	</script>
{% endblock %}