{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block titulo %}{% endblock %} - CENCO</title>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Bootstrap core CSS -->
    <link href=" {% static 'css/bootstrap.min.css' %} " rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/logo-nav.css' %}" rel="stylesheet">
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">

    {% block head_content %}

    {% endblock %}
  </head>

  <body>
  <div id="wrapper">
  <!-- Sidebar -->
        <div id="sidebar-wrapper" class="bg-primary">
            <ul class="sidebar-nav">
                <!--
                 Ejemplo de Uso de Side Bar
                    sidebar-brand sirve para poner el titulo del sidebar
                    <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                    </li>
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                 -->
                {% block sidebar_content %}
                {% endblock %}
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
      <div class="container-fluid">
          <table>
              <tr>
                  <td>
                      <a href="#menu-toggle" class="navbar-toggler-icon" id="menu-toggle"></a>
                  </td>
                  <td></td><td></td>
                  <td>
                      <a class="navbar-brand" href="{% url 'inicio' %}">
                        <!--<img src="{% static 'img/logo_prueba.png' %}" width="150" height="30" alt="">-->
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CENCO
                      </a>
                  </td>
              </tr>
          </table>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <!--
              Ejemplo de navbar
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
              -->
              {% block navbar_content %}
              {% endblock %}
          </ul>
        </div>
      </div>
    </nav>




        <!-- Page Content -->

        <div id="page-content-wrapper">
                <div class="container-fluid">
                    {% block content %}
                    {% endblock %}
                </div>
       </div>
        <!-- /#page-content-wrapper -->

                      <!-- footer -->
    <footer class="footerc">

          <div class="footerContainer footerColor">
        <table width="100%">
            <tr>
         <div style="width: 150px; display: inline-block"></div>
        <div class="footerDiv">
            <p>CONT&Aacute;CTENOS:</p>
            <p><strong>Tel:</strong> 0000-0000 </p>
            <p><strong>Email:</strong> correo_cenco@cenco.com </p>
        </div>
        <div class="footerDiv">
            <p>INFORMACI&Oacute;N:</p>
            <p><a href="">Acerca de CENCO</a> </p>
            <p><strong>Direcci&oacuten: </strong>departamento cuidad, colonia, numero local etc </p>
            <p><strong>Direcci&oacuten: </strong>departamento cuidad, colonia, numero local etc </p>
        </div>
        <div class="footerDiv">
            <img class="imgLogo" align="right" src="{% static 'img/Grupo.png' %}">


        </div>
            </tr>
        </table>
      </div>


    </footer>
    </div>
    <link href=" {% static 'css/footer.css' %} " rel="stylesheet">
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>


    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

  </body>
</html>
