{%  extends 'plantillas_base/base_asistente.html' %}
{% load staticfiles %}
{% block titulo %}Listado de alumnos{% endblock %}

#Espacio para los archivos de cabecera o head_content
{% block head_content %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href=" {% static 'css/formato_consultar_alumnos.css' %} " rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery/css/jquery.dataTables.min.css' %} ">
    <script src="{%  static 'js/consultar_alumnos.js' %}"></script>


    <style>
    a {
        color: black;
        text-underline-mode: none;
    }

    #example td, #example th{
        padding: 5px 5px 5px 5px;
        margin: 5px 5px 5px 5px;
        white-space: nowrap;
    }

    input{
        border-radius: 5px;
        border:1px solid #949494 !important;;
        padding: 3px;
        padding-left: 10px;

    }

    input:focus{
        border-radius: 5px;
        border:2px solid #2C3E50 !important;;
    }

    select {
       {#-webkit-appearance: button;#}
       -webkit-border-radius: 2px;
       -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
       -webkit-padding-end: 10px;
       -webkit-padding-start: 2px;
       -webkit-user-select: none;
       background-position: 97% center;
       background-repeat: no-repeat;
       border: 1px solid #828282;
       color: #000000;
       overflow: hidden;
       padding: 2px 10px;
       text-overflow: ellipsis;
       white-space: nowrap;
        height: 30px;
        margin-right: 5px;
        margin-left: 5px;

    }

    </style>

{% endblock %}

{% block content %}
    <table width='100%' >

    <tr id="tr_mod" style="height: 30px;">
        <td width='250px' rowspan="2" valign="top">
            <p></p>
        </br>
            <h6> Notificaciones:</h6>
            <div class='divNotifAlumnos' style="padding-left: 20px; width: 160px; margin-right: 40px">
                <h4></h4>


            </div>

        </td>

        <br/>
        <br/>
        <h4 align="center">Listado de alumnos activos</h4>

        <td width='60%' height='30px' align="right" valign="top" style="padding-top: 20px;">


        </td>
    </tr>
    <tr>
        <td width="900px">
            <div style="text-align: right; align-items: right;">
            <a type="button" style="margin-bottom: 10px; margin-right: 10px" class="btn btn-primary" href="{% url 'InsertarAlumnoV2' %}">Inscribir Alumno</a>
            <a type="button" style="float: right; margin-bottom: 10px;" class="btn btn-primary" href="{% url 'consultarAlumnosInactivos' %}">Ver Inactivos</a>
            </div>
                <div style="width: 950px; padding-top: 10px;">
            <table id="example" class="table table-bordered table-hover table-sm" style="min-width: 900px;">
            <thead>
                <tr bgcolor="#f0f8ff" >
                    <th>Codigo</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Encargado</th>
                    <th>Horario</th>
                </tr>
            </thead>
                <tbody>
                {% for user in alumnos%}
                    <tr>
                        <td><a href="{% url 'detalle_alumno' id_alumno=user.codigo %}">{{ user.codigo }}</a></td>
                        <td>{{ user.nombre }} </td>
                        <td>{{ user.apellido }}</td>
                        <td>{{ user.primerTelefono|default_if_none:""  }}</td>
                        <td>{{ user.correo|default_if_none:"" }}</td>
                        <td><a href="" ><font color=#4488ca>{{ user.encargado.nombre|default_if_none:"" }}</font> </a></td>
                        <td>{{user.grupo.horario.dias_asignados}}</td>
                    </tr>
                {% endfor %}
                </tbody>
                {% comment %}<tfoot>
                <tr bgcolor="#f0f8ff" >
                    <th>Codigo</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Encargado</th>
                    <th>D&iacute;as Correspondientes</th>
                </tr>
                </tfoot>{% endcomment %}
            </table>
            </div>
    </td>
    </tr>
    </table>

    <script type="text/javascript" charset="utf8" src="{% static 'js/jquery/jquery.dataTables.min.js' %} "></script>

    <script>
        $(document).ready(function() {
        var tabla = $('#example').DataTable( {
         "language": {
            "lengthMenu": "Mostrando _MENU_ registros por p&aacute;gina",
            "zeroRecords": "No se encontr&oacute; nada",
            "info": "Mostrando p&aacute;ginas _PAGE_ de _PAGES_",
            "infoEmpty": "vac&iacute;o",
            "infoFiltered": "(filtrados de _MAX_ registros totales)",
            "decimal":        "",
            "emptyTable":     "No hay datos disponibles",
            "infoPostFix":    "",
            "thousands":      ",",
            "loadingRecords": "Cargando registros...",
            "processing":     "Procesando...",
            "search":         "Buscar:",
            "paginate": {
                "first":      "Ir al primero",
                "last":       "Ir al &uacute;ltimo",
                "next":       "Siguiente",
                "previous":   "Anterior"
            },
            "aria": {
                "sortAscending":  ": ordenar columnas en orden ascendente",
                "sortDescending": ": ordenar columnas en orden descendente"
            }
        }});

        tabla.$('tr').click(function() {
            var href = $(this).find("a").attr("href");
            if(href) {
                window.location = href;
            }
        });

    });
    </script>


{% endblock %}
