{% extends 'base.html' %}
{% load static %}
{% block titulo %} Ingresar Alumno {% endblock %}

{% block head_content %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
     <script src="{% static 'js/crear_encargado.js' %}"></script>

{% endblock %}
{% block content %}
       <h1>Ingresar Alumno</h1>
        <form method="POST" action="">{% csrf_token %}
            {% csrf_token %}
            <table width="80%" align="center">
                        {{ form.as_table }}
            </table>
            <p>
            </p>
            <table width="20%" align="left">
                <tr>
                <td>
               <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarEncargadoModal" >Agregar Nuevo Encargado</button>
                </td>
              <td>
            <button type="submit" class="save btn btn-primary">Guardar</button>
              </td>
               </tr>


            </table>
        <tr><th><label for="id_encargado">Encargado:</label></th><tr><select name="encargado" required class="form-control" id="id_encargado">
  <option value="" selected>---------</option>
            </tr>
        </form>


<!-- Modal -->
<div class="modal fade" id="agregarEncargadoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nuevo Encargado</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="nuevoEncargadoForm" action="/alumnos/insertarEncargado/" method="post">
            {% csrf_token %}
             <table width="100%" align="center">
            {{form2.as_table}}
                 </table>
            <p></p>
            <button type="button submit" class="btn btn-primary" >Guardar Encargado</button>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
        </div>
    </div>
</div>
{% endblock %}