{% extends 'base.html' %}
{% load static %}
{% block titulo %} Ingresar Alumno {% endblock %}

{% block head_content %}
    <script src="{% static 'js/jquery.min.js' %}" xmlns="http://www.w3.org/1999/html"></script>
     <script src="{% static 'js/crear_encargado.js' %}"></script>

{% endblock %}
{% block content %}
       <h1>Ingresar Alumno</h1>
        <form method="POST" action="" id="ingresarAlumnoForm">
            {% csrf_token %}
            <table width="45%" >
             {{ form }}

             {{ form3 }}

            </table>
            <p></p>
            <table width="20%" align="left">
                <tr>
                <td>
                </td>
              <td>
            <button type="button submit" id="btnGuardarAlumno" class="save btn btn-primary">Guardar</button>
              </td>
               </tr>

            </table>

        </form>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarEncargadoModal" >Agregar Nuevo Encargado</button>

<!-- Modal -->
<div class="modal fade" id="agregarEncargadoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nuevo Encargado</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="nuevoEncargadoForm" action="" method="post">
            {% csrf_token %}

            <tr>
                <th><label for="id_nombreE">Nombre:</label></th>
                <td><input type="text" name="nombreE" id="id_nombreE" required class="form-control" maxlength="40" /></td>
            </tr>
            <tr>
                <th><label for="id_apellidoE">Apellido:</label></th>
                <td><input type="text" name="apellidoE" id="id_apellidoE" required class="form-control" maxlength="40" /></td>
            </tr>
            <tr>
                <th><label for="id_direccionE">Direccion:</label></th>
                <td><input type="text" name="direccionE" required class="form-control" id="id_direccionE" /></td>
            </tr>
            <tr><th><label for="id_correoE">Correo:</label></th><td><input type="email" name="correoE" id="id_correoE" class="form-control" maxlength="254" /></td></tr>

            <tr>
                <th><label for="id_fechaNacimientoE">Fecha de nacimiento:</label></th>
                <td><input type="date" name="fechaNacimientoE" required class="form-control" id="id_fechaNacimientoE" /></td>
            </tr>

            <tr>
                <th><label for="id_duiE">Dui:</label></th>
                <td><input type="text" name="duiE" id="id_duiE" pattern="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][-][0-9]" class="form-control" maxlength="10" /></td>
            </tr>

             <tr>
                 <th><label for="id_numeroE">Telefono:</label></th>
                 <td><input type="text" name="numeroE" maxlength="8" pattern="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]" required class="form-control" id="id_numeroE" /></td>
             </tr>

            <tr>
                <th><label for="id_tipoE">Tipo:</label></th><td><select name="tipoE" required class="form-control" id="id_tipoE">
                    <option value="" selected>---------</option>

                    <option value="ca">Casa</option>

                    <option value="tra">Trabajo</option>

                    <option value="mo">Movil</option>

                </select></td></tr>

            <p></p>
            <button type="button submit" id="btnNuevoEncargado" class="btn btn-primary" >Guardar Encargado</button>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
        </div>
    </div>
</div>
{% endblock %}