{%  extends 'plantillas_base/base_director.html' %}
{% load staticfiles %}
{% block titulo %}Credenciales de Alumnos{% endblock %}

#Espacio para los archivos de cabecera o head_content
{% block head_content %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href=" {% static 'css/formato_consultar_alumnos.css' %} " rel="stylesheet">
    <script src="{%  static 'js/consultar_alumnos.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <link href=" {% static 'css/alerts_notificaciones.css' %} " rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery/css/jquery.dataTables.min.css' %} ">

    <script>
        function contraseniasIguales() {
            var contrasenia = document.getElementById('contrasenia');
            var repContrasenia = document.getElementById('repContrasenia');


            var boton = document.getElementById('guardarPass');
            if(  contrasenia.value != repContrasenia.value ){

                contrasenia.className = "form-control is-invalid";
                repContrasenia.className = "form-control is-invalid";
                boton.disabled = true;
            }
            else {
                if(contrasenia.value == '' || repContrasenia.value == ''){
                    boton.disabled = true;
                }
                else{
                    contrasenia.className = "form-control is-valid";
                    repContrasenia.className = "form-control is-valid";
                    boton.disabled=false;
                }

            }
        }



        $(document).ready(function() {

            $('#example tr').click(function () {
                var href = $(this).find("a").attr("href");
                if (href) {
                    window.location = href;
                }
            });

        });

           $(function() {
            selectFilas();
        });

       function selectFilas(){
            var tr = $('#example').find('tr');
            tr.bind('click', function(event) {
                tr.removeClass('row-highlight');
                indexSelected = tr.index($(this));
                var tds = $(this).addClass('row-highlight').find('td');
                    values = tds[1].innerHTML+ " de "+ tds[2].innerHTML+" a "+tds[3].innerHTML;

                // Asignacion a formulario para editar.
                $('#id_alumno').html(tds[0].innerHTML);
                $('#nombre_alumno').html(tds[1].innerHTML +" "+ tds[2].innerHTML);
                $('#nombre_usuario_alumno').html(tds[5].innerHTML);

            });
       }

        $(document).on('submit', '#cambiarPass', function (a) {
        a.preventDefault();
        $('#espereG').css('display', 'inline');
            $.ajax({
                type: 'POST',
                url: '/credenciales/alumnos/',
                data: {
                    id_alumno: $('#id_alumno').text(),
                    contrasena1: $('#contrasenia').val(),
                    contrasena2: $('#repContrasenia').val(),
                    nombre_usuario_nuevo: $('#id_usuario').val(),
                    nombre_usuario_actual:$('#nombre_usuario_alumno').text(),
                    csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                },

                success:function(response) {
                    //alert("Credenciales modificadas con exito");
                    filterSelection('all');
                    $('#myDeleteModal').modal('hide');
                    //location.reload();


                    var m = $('#mensajeEmergente');
                    m.children('strong').html('Contraseña guardada con éxito');
                    m.css('display','block');
                    m.css('opacity',1);
                    m.removeClass();
                    m.addClass('alerta exito');

                    $('#espereG').css('display', 'none');
                    $('#contrasenia').val('');
                    $('#repContrasenia').val('');
                  },

                  error:function (response) {
                    var m = $('#mensajeEmergente');
                    m.children('strong').html('No se pudo guardar la nueva contraseña');
                    m.css('display','block');
                    m.css('opacity',1);
                    m.removeClass();
                    m.addClass('alerta accionPeligrosa');
                  }


            })
        });

       $(document).ready(function() {
          $('#myDeleteModal').on('hidden.bs.modal', function(e) {
            $('#contrasenia').val('');
            $('#repContrasenia').val('');
          });
        });
    </script>
    <style>
    a {
        color: black;
        text-underline-mode: none;
    }

    #example td, #example th{
        padding: 5px 5px 5px 5px;
        margin: 5px 5px 5px 5px;
        white-space: nowrap;
    }

    input{
        border-radius: 5px;
        border:1px solid #949494 !important;;
        padding: 3px;
        padding-left: 10px;

    }

    input:focus{
        border-radius: 5px;
        border:2px solid #2C3E50 !important;;
    }

    select {
       {#-webkit-appearance: button;#}
       -webkit-border-radius: 2px;
       -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
       -webkit-padding-end: 10px;
       -webkit-padding-start: 2px;
       -webkit-user-select: none;
       background-position: 97% center;
       background-repeat: no-repeat;
       border: 1px solid #828282;
       color: #000000;
       overflow: hidden;
       padding: 2px 10px;
       text-overflow: ellipsis;
       white-space: nowrap;
        height: 30px;
        margin-right: 5px;
        margin-left: 5px;

    }

    </style>

{% endblock %}

{% block content %}
    <!-- ALERTAS -->
    <div class="divEscondido" id="mensajeEmergente">
    <span class="btnCerrar">×</span>
        <strong></strong>
    </div>


    <table width='100%' align="center">

    <tr id="tr_mod" style="height: 30px;">
        <td width='100px' rowspan="2" valign="top">
            <p></p>
            <h4> Credenciales</h4>
            <div class='divNotifAlumnos' style="padding-left: 20px; width: 160px; margin-right: 40px">
                <p></p>
                    <h5><u><a href="{% url "director_credenciales_propias" %}" style="color:black ">Director</a></u></h5>
                    <p></p>
                    <h5><u><a href="{% url "credenciales_asistente" %}" style="color:black ">Asistentes</a></u></h5>
                    <p></p>
                    <h5><u><a href="#" style="color:black ">Profesores</a></u></h5>
                    <p></p>
                    <h5><u><a href="#" style="color:black ">Tecnicos</a></u></h5>
                    <p></p>
                    <h5><u><a href="{% url "credenciales_alumno" %}" style="color:black ">Estudiantes</a></u></h5>
                    <p></p>

            </div>

        </td>

        <br/>
        <br/>
    </tr>
    <tr>
        <h4 align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Listado de alumnos</h4>
        <td width="900px" valign="top">
            <div style="width: auto">
            <table id="example" class="table table-bordered table-hover" style="min-width: 900px;">
            <thead>
                <tr bgcolor="#f0f8ff" >
                    <th >Codigo</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Usuario</th>
                    <th>Horario</th>
                </tr>
            </thead>
                </thead>
                <tbody>
                {% for user in alumnos%}
                    <tr data-toggle="modal" data-target="#myDeleteModal">
                        <td><a href="#">{{ user.codigo }}</a></td>
                        <td>{{ user.nombre }} </td>
                        <td>{{ user.apellido }}</td>
                        <td>{{ user.primerTelefono|default_if_none:""  }}</td>
                        <td>{{ user.correo|default_if_none:"" }}</td>
                        <td>{{ user.username|default_if_none:"" }}</td>
                        <td>{{user.grupo.horario.dias_asignados|default_if_none:""}}</td>
                    </tr>
                {% endfor %}
                </tbody>
                {% comment %}<tfoot>
                <tr bgcolor="#f0f8ff" >
                    <th>Codigo</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Encargado</th>
                    <th>D&iacute;as Correspondientes</th>
                </tr>
                </tfoot>{% endcomment %}
            </table>
            </div>
            {% comment %}<div class="pagination">
            {% if users.has_other_pages %}

                {% if users.has_previous %}
                  <a href="?page={{ users.previous_page_number }}">&laquo;</a>
                {% else %}
                    <a class="disabled"><span>&laquo;</span></a>
                {% endif %}
                {% for i in users.paginator.page_range %}
                  {% if users.number == i %}
                    <a class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
                  {% else %}
                    <a href="?page={{ i }}">{{ i }}</a>
                  {% endif %}
                {% endfor %}
                {% if users.has_next %}
                  <a href="?page={{ users.next_page_number }}">&raquo;</a>
                {% else %}
                    <a class="disabled"><span>&raquo;</span></a>
                {% endif %}

            {% endif %}
            </div>{% endcomment %}




    </td>
    <td width="10px"></td>
    </tr>
    </table>


    <div class="modal fade" id="myDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myEditModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                 <h5 class="nombre">Cambiar Credenciales</h5>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                <h4 class="modal-title" id="myDeleteModalLabel"></h4>
              </div>
                <div class="modal-body" style="padding: 1rem 0 0;">

                        <form method="post" id="cambiarPass" autocomplete="off">
                            {% csrf_token %}
                            <div id="id_alumno" style="display: none;"></div>

                            <table align="center">
                                <tr>
                                    <td><b>Nombre:</b></td>
                                    <td><div id="nombre_alumno"></div></td>
                                </tr>
                                <tr>
                                    <td><b>Usuario actual:</b> &nbsp; &nbsp;</td>
                                    <td><div id="nombre_usuario_alumno"></div></td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Contraseña:</b>
                                    </td>
                                    <td>
                                        <input type="password" class="form-control" id="contrasenia" name="contrasenia" autocomplete="off" onkeyup="contraseniasIguales()">
                                    </td>
                                    <td></td>

                                </tr>

                                <tr>
                                    <td>
                                        <b>Repetir:</b>
                                    </td>
                                    <td>
                                        <input type="password" class="form-control" id="repContrasenia" autocomplete="off"  name="repContrasenia" onkeyup="contraseniasIguales()">
                                        <div class="invalid-feedback">Contraseñas no coinciden</div>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr><td><p></p></td></tr>
                            </table>

                            <div style="display: none;padding-left: 5rem;" id="espereG">
                                <img src="{% static 'img/ajax-loader.gif' %}">
                                Procesando. Por Favor Espere.
                            </div>

                             <div class="modal-footer">
                                <button type="submit button" class="btn btn-primary" id="guardarPass" name="guardarPass" disabled="disabled">Guardar</button>
                                <button class="btn btn-small pull-left" data-dismiss="modal"><i class="icon-remove"></i>Cancelar</button>

                             </div>

                        </form>



                </div>
            </div>
          </div>
        </div>

    <script type="text/javascript" charset="utf8" src="{% static 'js/jquery/jquery.dataTables.min.js' %} "></script>

    <script>
        $(document).ready(function() {
        var tabla = $('#example').DataTable( {
         "language": {
            "lengthMenu": "Mostrando _MENU_ registros por p&aacute;gina",
            "zeroRecords": "No se encontr&oacute; nada",
            "info": "Mostrando p&aacute;ginas _PAGE_ de _PAGES_",
            "infoEmpty": "vac&iacute;o",
            "infoFiltered": "(filtrados de _MAX_ registros totales)",
            "decimal":        "",
            "emptyTable":     "No hay datos disponibles",
            "infoPostFix":    "",
            "thousands":      ",",
            "loadingRecords": "Cargando registros...",
            "processing":     "Procesando...",
            "search":         "Buscar:",
            "paginate": {
                "first":      "Ir al primero",
                "last":       "Ir al &uacute;ltimo",
                "next":       "Siguiente",
                "previous":   "Anterior"
            },
            "aria": {
                "sortAscending":  ": ordenar columnas en orden ascendente",
                "sortDescending": ": ordenar columnas en orden descendente"
            }
        }});

        {% comment %}tabla.$('tr').click(function() {
            var href = $(this).find("a").attr("href");
            if(href) {
                window.location = href;
            }
        });{% endcomment %}

    });
    </script>
    <script src="{% static 'js/cerrar_alertas.js' %}"></script>
{% endblock %}