{% extends plantilla %}

{% load staticfiles %}

{% block titulo %}Cambiar Credenciales{% endblock %}

{% block head_content %}
    <link href=" {% static 'css/alerts_notificaciones.css' %} " rel="stylesheet">

    <script>
    $(document).on('submit', '#formCred', function (a) {
        $('#btnGuardarCred').attr('disabled', true);
        $('#espereG').css('display', 'inline');});
    </script>

{% endblock %}

 {% block content %}
     <table width="100%">
     <tr>
         <td width="25%">
        </td>
         <td width="50%" height='100px' >

             <br>
            <br>
             {% for message in messages %}
             {% if 'success' in message.tags %}
             <div class="alerta exito">
            <span class="btnCerrar">&times;</span>
                 <strong></strong>
            {{ message }}
            </div>
             {% endif %}
         {% endfor %}
             <br>
            <h4>Mi Usuario:</h4>
             <br>
            <br>
            <form action="" method="post" id="formCred">
                {% csrf_token %}
                 <table width="65%" align="center" height="170px">
                     {{ form.as_table }}
                 </table>
             <br>
              <table width="60%" align="center">
                            <p></p>
                  <tr>
                  <td align="center">
                        <button type="submit" class="btn btn-primary" id="btnGuardarCred">Guardar</button>
                  </td>
                  <td>
                      <div style="display: none" id="espereG">
                            <img src="{% static 'img/ajax-loader.gif' %}">
                            Procesando. Por Favor Espere.
                        </div>
                  </td>
                  </tr>
              </table>
             </form>
         </td>
         <td width='30%'>
         </td>
     </tr>
     </table>
     <script src="{% static 'js/cerrar_alertas.js' %}"></script>
 {% endblock %}