{% extends 'plantillas_base/base_director.html' %}
{% load staticfiles %}
{% block titulo %}Empleados Inactivos{% endblock %}

{% block head_content %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery/css/jquery.dataTables.min.css' %} ">
    <link href=" {% static 'css/formato_consultar_alumnos.css' %} " rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery/css/jquery.dataTables.min.css' %} ">
    <script src="{%  static 'js/consultar_alumnos.js' %}"></script>


    <style>
    a {
        color: black;
        text-underline-mode: none;
    }

    </style>

{% endblock %}

{% block content %}
<table align="center">

    <tr align="left">

        <div style="padding-top: 30px; padding-left: 20%">
            <h4>Empleados Inactivos</h4>
        </div>

        <div style="text-align: right; align-items: right; padding-right: 20%;padding-bottom: 20px;">
            <a href="{% url 'crear_empleado' %}" style="padding-right: 10px;">Nuevo empleado</a>

            <a href="{% url 'consultar_empleados' %}">Ver Activos</a>

        </div>
    </tr>

    <tr>
    <td width="15%"></td>
    <td width="70%">
        <table id="example" class="table table-bordered table-hover table-sm" style="width:100%;">
            <thead>
                <tr bgcolor="#f0f8ff" >

                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Telefono</th>
                    <th>Tipo</th>
                    <th>Correo</th>

                </tr>
            </thead>
                </thead>
                <tbody>
                {% for user in empleados%}
                    <tr>
                        <td><a href="{% url 'director_ver_empleado' id_empleado=user.codigo %}">{{ user.nombre }}</a></td>
                        <td>{{ user.apellido }} </td>
                        <td>{{ user.primerTelefono|default_if_none:"" }}</td>
                        <td>{{ user.primerTelefono.tipo|default_if_none:""  }}</td>
                        <td>{{ user.correo|default_if_none:"" }}</td>

                    </tr>
                {% endfor %}
                </tbody>
        </table>
    </td>
    <td width="15%"></td>
    </tr>



</table>



    <script type="text/javascript" charset="utf8" src="{% static 'js/jquery/jquery.dataTables.min.js' %} "></script>
    <script>
        $(document).ready(function() {
        var tabla = $('#example').DataTable( {
         "language": {
            "lengthMenu": "Mostrando _MENU_ registros por p&aacute;gina",
            "zeroRecords": "No se encontr&oacute; nada",
            "info": "Mostrando p&aacute;ginas _PAGE_ de _PAGES_",
            "infoEmpty": "vac&iacute;o",
            "infoFiltered": "(filtrados de _MAX_ registros totales)",
            "decimal":        "",
            "emptyTable":     "No hay datos disponibles",
            "infoPostFix":    "",
            "thousands":      ",",
            "loadingRecords": "Cargando registros...",
            "processing":     "Procesando...",
            "search":         "Buscar:",
            "paginate": {
                "first":      "Ir al primero",
                "last":       "Ir al &uacute;ltimo",
                "next":       "Siguiente",
                "previous":   "Anterior"
            },
            "aria": {
                "sortAscending":  ": ordenar columnas en orden ascendente",
                "sortDescending": ": ordenar columnas en orden descendente"
            }
        }});

        tabla.$('tr').click(function() {
            var href = $(this).find("a").attr("href");
            if(href) {
                window.location = href;
            }
        });

    });
    </script>

{% endblock %}