{% extends 'plantillas_base/base_director.html' %}
{% load staticfiles %}
{% block titulo %}Empleados Inactivos{% endblock %}

{% block head_content %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery/css/jquery.dataTables.min.css' %} ">
    <link href=" {% static 'css/formato_consultar_alumnos.css' %} " rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery/css/jquery.dataTables.min.css' %} ">
    <script src="{%  static 'js/consultar_alumnos.js' %}"></script>


    <style>
    #example td, #example th{
        padding: 5px 0px 5px 5px;
        margin: 5px 0px 5px 5px;
        white-space: nowrap;
    }

    a {
        color: black;
        text-underline-mode: none;
    }

    input{
        border-radius: 5px;
        border:1px solid #949494 !important;;
        padding: 3px;
        padding-left: 10px;

    }

    input:focus{
        border-radius: 5px;
        border:2px solid #2C3E50 !important;;
    }

    select {
       {#-webkit-appearance: button;#}
       -webkit-border-radius: 2px;
       -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
       -webkit-padding-end: 10px;
       -webkit-padding-start: 2px;
       -webkit-user-select: none;
       background-position: 97% center;
       background-repeat: no-repeat;
       border: 1px solid #828282;
       color: #000000;
       overflow: hidden;
       padding: 2px 10px;
       text-overflow: ellipsis;
       white-space: nowrap;
        height: 30px;
        margin-right: 5px;
        margin-left: 5px;

    }
    </style>

{% endblock %}

{% block content %}
<table align="center">

    <tr align="left">


    </tr>

    <tr>
    <td width="10px"></td>
    <td width="900px">
    <div style="padding-top: 30px;">
            <h4>Empleados Inactivos</h4>
        </div>

        <div style="text-align: right; align-items: right; padding-bottom: 20px;">
            <a href="{% url 'crear_empleado' %}"><button style="margin-right: 10px" type="button" class="btn btn-primary">Nuevo empleado</button></a>

            <a href="{% url 'consultar_empleados' %}"><button type="button" class="btn btn-primary">Ver Activos</button></a>

        </div>
        <table id="example" class="table table-bordered table-hover table-sm" style="width:100%;" cellpadding="0" cellspacing="0">
            <thead>
                <tr bgcolor="#f0f8ff" >

                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Telefono</th>
                    <th>Tipo</th>
                    <th>Correo</th>

                </tr>
            </thead>
                </thead>
                <tbody>
                {% for user in empleados%}
                    <tr>
                        <td><a href="{% url 'director_ver_empleado' id_empleado=user.codigo %}">{{ user.nombre }}</a></td>
                        <td>{{ user.apellido }} </td>
                        <td>{{ user.primerTelefono|default_if_none:"" }}</td>
                        <td>{{ user.primerTelefono.tipo|default_if_none:""  }}</td>
                        <td>{{ user.correo|default_if_none:"" }}</td>

                    </tr>
                {% endfor %}
                </tbody>
        </table>
    </td>
    <td width="10px"></td>
    </tr>



</table>



    <script type="text/javascript" charset="utf8" src="{% static 'js/jquery/jquery.dataTables.min.js' %} "></script>
    <script>
        $(document).ready(function() {
        var tabla = $('#example').DataTable( {
         "language": {
            "lengthMenu": "Mostrando _MENU_ registros por p&aacute;gina",
            "zeroRecords": "No se encontr&oacute; nada",
            "info": "Mostrando p&aacute;ginas _PAGE_ de _PAGES_",
            "infoEmpty": "vac&iacute;o",
            "infoFiltered": "(filtrados de _MAX_ registros totales)",
            "decimal":        "",
            "emptyTable":     "No hay datos disponibles",
            "infoPostFix":    "",
            "thousands":      ",",
            "loadingRecords": "Cargando registros...",
            "processing":     "Procesando...",
            "search":         "Buscar:",
            "paginate": {
                "first":      "Ir al primero",
                "last":       "Ir al &uacute;ltimo",
                "next":       "Siguiente",
                "previous":   "Anterior"
            },
            "aria": {
                "sortAscending":  ": ordenar columnas en orden ascendente",
                "sortDescending": ": ordenar columnas en orden descendente"
            }
        }});

        tabla.$('tr').click(function() {
            var href = $(this).find("a").attr("href");
            if(href) {
                window.location = href;
            }
        });

    });
    </script>

{% endblock %}