{% extends 'plantillas_base/base_director.html' %}
{% load staticfiles %}
{% block titulo %}{% if editar %}Editar{% else %}Crear{% endif %} Carrera{% endblock %}

{% block head_content %}
    <link href=" {% static 'css/alerts_notificaciones.css' %} " rel="stylesheet">
    <script>
   $(document).on('submit', '#crearEditarform', function (a) {
       a.preventDefault();
       $('#btnGuardar').attr('disabled', true);
       $('#espereG').css('display', 'inline');
            $.ajax({
                type: 'POST',
                {% if editar %}
                url: '/carrera/editar_carrera/{{ id_carrera }}',
                {% else %}
                url: '/carrera/crear_carrera/',
                {% endif %}
                data: {
                    nombre_carrera: $('#id_nombre_carrera').val(),
                    descripcion_carrera: $('#id_descripcion_carrera').val(),
                    cuota_semanal_carrera: $('#id_cuota_semanal_carrera').val(),
                    precio_inscripcion_carrera: $('#id_precio_inscripcion_carrera').val(),
                    csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                },
                success: function (response) {
                  $('#btnGuardar').attr('disabled', false);
                  $('#espereG').css('display', 'none');
                  var m = $('#mensajeEmergente');
                  m.children('strong').html(response);
                  m.css('display','block');
                  m.css('opacity',1);
                  m.removeClass();
                  m.addClass('alerta exito');
                },
                error: function (response) {
                  $('#btnGuardar').attr('disabled', false);
                  $('#espereG').css('display', 'none');
                  var m = $('#mensajeEmergente');
                  m.children('strong').html(response.responseText);
                  m.css('display','block');
                  m.css('opacity',1);
                  m.removeClass();
                  m.addClass('alerta cuidado');
                  $("html, body").animate({ scrollTop: 0 }, "slow");
                }
            })
    })
    </script>


{% endblock %}

{% block content %}
    <br>
        <!-- ALERTAS -->
        <div class="divEscondido" id="mensajeEmergente">
        <span class="btnCerrar">&times;</span>
            <strong></strong>
        </div>
    <br>
    <h3>{% if editar %}Editar Una{% else %}Crear Nueva{% endif %} Carrera</h3>
    <form method="POST" action="" id="crearEditarform">
    {% csrf_token %}
        <table width="50%" cellpadding="10px">
    <tr><td width="100px"></td><td></td></tr>

    {{ form }}
    </table>
    <input type="submit" class="btn-primary btn" style="font-size: 20px" value="{% if editar %}Editar{% else %}Crear{% endif %} Carrera" id="btnGuardar" >
        <div style="display: none" id="espereG">
            <img src="{% static 'img/ajax-loader.gif' %}">
            Procesando. Por Favor Espere.
        </div>
    </form>
    <br>
    <button  class="btn btn-secondary" onclick="window.location='{% url 'consultar_carreras' %}';">Volver a Lista de Carreras</button>

    <script src="{% static 'js/cerrar_alertas.js' %}"></script>
{% endblock %}